<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<meta name="GENERATOR" content="PageBreeze Free HTML Editor (http://www.pagebreeze.com)">
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
<title>Contacts</title>
<style>
a.navwhite:link { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:visited { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:hover { text-decoration: underline; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:link { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:visited { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:hover { text-decoration: underline; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }

h1 { font-family: Arial, sans-serif; font-size: 30px; color: #a80000;}
h2 { font-family: Arial, sans-serif; font-size: 18px; color: #a80000;}

body,p,b,i,em,dt,dd,dl,sl,caption,th,td,tr,u,blink,select,option,form,div,li { font-family: Arial, sans-serif; font-size: 12px; }

</style>


</head>
<body bgcolor="#a80000" >
<p>
<table cellspacing="0" cellpadding="8" width="780" align="center" border="0" 
>
  
  <tr>
    <td>
      <h1 align="center"><br><font color="#ffffff">      
       Contacts</font></h1>
      <p align="center">&nbsp;</p>
      <p>&nbsp;</p></td></tr>
  <tr>
        <td bgcolor="#000000">
      <p align="center"><font color="#ffffff"> <a class="navwhite" href="http://www.district6basketball.net" ><font color="#ffffff">   
      Home</font>&nbsp;&nbsp;   </a><font color="#ffffff">&nbsp; | </font>&nbsp; </font> <a class="navwhite" href="http://www.ohiobkcoaches.com/forms.htm" ><font color="#ffffff">  State 
      Forms</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/localforms" ><font color="#ffffff">  Local 
      Forms&nbsp;</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/contacts" ><font color="#ffffff">   
      Contacts</font>   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/calendar" ><font color="#ffffff">   
      Calendar</font>   </a></p>
      <p align="center"><font color="#ffffff">&nbsp; </font> <a class="navwhite" href="http://www.district6basketball.net/playerstowatch" 
     ><font >  Players  to 
      Watch</font>&nbsp;   </a><font color="#ffffff"> |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/awards" ><font 
      > End Season 
      Awards</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/officers" ><font 
      >   
      Officers</font>   </a><font color="#ffffff">&nbsp; |&nbsp;&nbsp; </font>  <a class="navwhite" href="localnews" ><font 
      >  Local 
      News</font>&nbsp;   </a><font 
      color=#ffffff>|&nbsp;&nbsp;</font>  <a class="navwhite" href="links" ><font 
      >   
      Links</font>   </a></p></td></tr>
  <tr>
    <td bgcolor="#ffffff">
      <p align="center">
      <table style="WIDTH: 647pt; BORDER-COLLAPSE: collapse" border="0" 
      cellSpacing=0 cellPadding=0 width=861>
        <colgroup><font size="2">
        <col 
        style="WIDTH: 104pt; mso-width-source: userset; mso-width-alt: 5046" 
        width=138>
        <col style="WIDTH: 86pt; mso-width-source: userset; mso-width-alt: 4169" 
        width=114>
        <col 
        style="WIDTH: 184pt; mso-width-source: userset; mso-width-alt: 8960" 
        width=245>
        <col 
        style="WIDTH: 105pt; mso-width-source: userset; mso-width-alt: 5120" 
        width=140>
        <col 
        style="WIDTH: 168pt; mso-width-source: userset; mso-width-alt: 8192" 
        width=224></font>
        
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; WIDTH: 104pt; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl66 height=17 width=138><strong><u><font 
            size=2>School</font></u></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; WIDTH: 86pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl66 width=114><strong><u><font size="2">Boys 
            Coach</font></u></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; WIDTH: 184pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl66 width=245><strong><u><font 
            size=2>Email</font></u></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; WIDTH: 105pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl66 width=140><strong><u><font size="2">Girls 
            Coach</font></u></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; WIDTH: 168pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl66 width=224><strong><u><font 
            size=2>Email</font></u></strong></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Ashland Crestview</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Brandt Danals</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:danals.brandt@crestviewschools.net"><font 
            size=2>danals.brandt@crestviewschools.net</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Tracy Richards</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:trichards11@embarqmail.com"><font 
            size=2>trichards11@embarqmail.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Ashland<span 
            style="mso-spacerun: yes">&nbsp;&nbsp;</span></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Tim Fralick</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:tifralic@ashlandcityschools.org"><font 
            size=2>tifralic@ashlandcityschools.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Jason Snow</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:snowdaddy89@zoominternet.net"><font 
            size=2>snowdaddy89@zoominternet.net</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Bellevue</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Mike Raifsnider</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:micraifsnider@beelevue.k12.oh.us"><font 
            size=2>micraifsnider@beelevue.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Ryan Orshoski</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:ryaorshoski@bellevue.k12.oh.us"><font 
            size=2>ryaorshoski@bellevue.k12.oh.us</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Bettsville</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Michael Haynes</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:mhaynes@bettsville.k12.oh.us"><font 
            size=2>mhaynes@bettsville.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Laura Gangluff</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:lauragangluff11@gmail.com"><font 
            size=2>lauragangluff11@gmail.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Buckeye Central</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Phil Loy</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:ploy@buckeye-central.org"><font 
            size=2>ploy@buckeye-central.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Sarah Cybulski</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:krichbaum.s@gmail.com"><font 
            size=2>krichbaum.s@gmail.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Bucyrus</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Nate Hill</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:nhill@bucyrusschools.org"><font 
            size=2>nhill@bucyrusschools.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Greg Moore</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:gregorycindy1977@hotmail.com"><font 
            size=2>gregorycindy1977@hotmail.com</font></a></td></tr>
        <tr style="HEIGHT: 18pt" height="24">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 18pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=24><font size="2">Calvert</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Ted Willman</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl67><font size="2"><a 
            href="mailto:twillman@calverths.org">twillman@calverths.org</a><font 
            class=font5><span 
            style="mso-spacerun: yes">&nbsp;</span></font></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Tim Ritzler</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:coachritzler@yahoo.com"><font 
            size=2>coachritzler@yahoo.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Carey</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>CJ Kinn</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:kin_c@careyevs.org"><font 
            size=2>kin_c@careyevs.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Phil Vaughn<span 
            style="mso-spacerun: yes">&nbsp;</span></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:pandsvaughn@frontier.com"><font 
            size=2>pandsvaughn@frontier.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Clear Fork</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Steven Bechtel</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:bechtels@clearfork.k12.oh.us"><font 
            size=2>bechtels@clearfork.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Les Hauenstein</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:howiescolts@live.com"><font 
            size=2>howiescolts@live.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Clyde</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Ryan Carter</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:strcarter@clyde.k12.oh.us"><font 
            size=2>strcarter@clyde.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>John Cahill</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:stjcahill@clyde.k12.oh.us"><font 
            size=2>stjcahill@clyde.k12.oh.us</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Colonel Crawford</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Dave Sheldon</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:sheldon.david@cck12.org"><font 
            size=2>sheldon.david@cck12.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Amber Rall</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:amber.rall24@yahoo.com"><font 
            size=2>amber.rall24@yahoo.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Crestline</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Randy Endsley</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:endsley.randy@crestline.k12.oh.us"><font 
            size=2>endsley.randy@crestline.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Steve Garberich</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:stevegarberich@hotmail.com"><font 
            size=2>stevegarberich@hotmail.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Edison</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Todd Robinson</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><a 
            href="mailto:trobinson@edisonchargers.org"><font 
            size=2>trobinson@edisonchargers.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Tracey Moyer</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:tmoyer@western-reserve.org"><font 
            size=2>tmoyer@western-reserve.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Fostoria St. Wendelin</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Jim Rutter</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:rutte-J@vscc.k12.oh.us"><font 
            size=2>rutte-J@vscc.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Aaron Smith</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:aaron.smith@lpl.com"><font 
            size=2>aaron.smith@lpl.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Fremont Ross</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Mark Gedeon</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:gedeonm@fremont.k12.oh.us"><font 
            size=2>gedeonm@fremont.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Juan Vela</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:nautica4444@yahoo.com"><font 
            size=2>nautica4444@yahoo.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Fremont St. Joe</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Jon Will</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2><a 
            href="mailto:sjcc.hoops@gmail.com">sjcc.hoops@gmail.com</a></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Gary Geller</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:ggeller@streaks.net"><font 
            size=2>ggeller@streaks.net</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Galion</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Ed Rich</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:rich.ed@galionschools.org"><font 
            size=2>rich.ed@galionschools.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Jen Rich</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:rich.jennifer@galionschools.org"><font 
            size=2>rich.jennifer@galionschools.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Hopewell-Louden</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Adam Smith</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:asmith@hlschool.org"><font 
            size=2>asmith@hlschool.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Rod Daniel</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:rdaniel@hlschool.org"><font 
            size=2>rdaniel@hlschool.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Huron</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Bobby James</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:bobby_james@huronhs.com"><font 
            size=2>bobby_james@huronhs.com</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Ty Ray</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:ty_ray@huronhs.com"><font 
            size=2>ty_ray@huronhs.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Lexington</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Jamie Fieck</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:feick.jamie@lexington.k12.oh.us"><font 
            size=2>feick.jamie@lexington.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Darryl Uhde</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:coachuhde@yahoo.com"><font 
            size=2>coachuhde@yahoo.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Lucas</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Bobby Gossum</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2><a 
            href="mailto:gossom.bobby@lucascubs.org">gossom.bobby@lucascubs.org</a>, 
            <a href="rgossom@gmail.com">rgossom@gmail.com</a></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Nathan Lautzenhiser</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:lautzenhiser.nathan@lucascubs.org"><font 
            size=2>lautzenhiser.nathan@lucascubs.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Mansfield Christian</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>John Kurtz</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:pvrkurtz@aol.com"><font 
            size=2>pvrkurtz@aol.com</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Don Mitchell</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:mitchell.donald@mcsflames.org"><font 
            size=2>mitchell.donald@mcsflames.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Mansfield Madison</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Doug Ricket</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:drickert@mlsd.net"><font 
            size=2>drickert@mlsd.net</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Ron Hetler</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:capt_het@yahoo.com"><font 
            size=2>capt_het@yahoo.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17>
            <p><font size="2">Mansfield St. Peter's</font></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Pat Durham</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:jweatherbie@south-central.org"><font 
            size=2>jweatherbie@south-central.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Bill Tomsich</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:wtomsich@bayworldmfg.com"><font 
            size=2>wtomsich@bayworldmfg.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Mansfield Senior</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Effie James</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:ejames@mansfield.k12.oh.us"><font 
            size=2>ejames@mansfield.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Todd Krill</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:tkrill@mansfield.k12.oh.us"><font 
            size=2>tkrill@mansfield.k12.oh.us</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Marion Harding</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Roger Jury</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:roger_jury@marioncity.k12.oh.us"><font 
            size=2>roger_jury@marioncity.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Greg Noftz</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:g_noftz@marioncity.k12.oh.us"><font 
            size=2>g_noftz@marioncity.k12.oh.us</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Margaretta</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Troy Roth</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:troth@margaretta.k12.oh.us"><font 
            size=2>troth@margaretta.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Tim Tucker</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:timangtucker@thewavz.com"><font 
            size=2>timangtucker@thewavz.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Mohawk</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>JT Bates</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:jbates@fostoriaschools.org"><font 
            size=2>jbates@fostoriaschools.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Josh Fortney</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:josh.fortney@mohawklocal.org"><font 
            size=2>josh.fortney@mohawklocal.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Monroeville</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Zac Reer</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:zreer@monroevilleschools.org"><font 
            size=2>zreer@monroevilleschools.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Brad Dunlap</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:bdunlap@monroevilleschools.org"><font 
            size=2>bdunlap@monroevilleschools.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">New London</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Tom Howell</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:thowell@newlondon.k12.oh.us"><font 
            size=2>thowell@newlondon.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Greg Vogelsong</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:tenpanic@yahoo.com"><font 
            size=2>tenpanic@yahoo.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">New Riegel</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Todd Aichholz</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:todd_aichholz@tiffin.k12.oh.us"><font 
            size=2>todd_aichholz@tiffin.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Steve Lucius</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:slucius001@woh.rr.com"><font 
            size=2>slucius001@woh.rr.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Norwalk</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Steve Gray</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:grays@norwalktruckers.net"><font 
            size=2>grays@norwalktruckers.net</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Brock Manlet</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:manletb@norwalktruckers.net"><font 
            size=2>manletb@norwalktruckers.net</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Norwalk St. Paul</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Mike Smith</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:spflyershoops@frontier.com"><font 
            size=2>spflyershoops@frontier.com</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Vicky Mahl</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:vmahl@ehove.net"><font 
            size=2>vmahl@ehove.net</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Old Fort</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Eric Hoover</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:eric.hoover@mohawklocal.org"><font 
            size=2>eric.hoover@mohawklocal.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Mark Schrock</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:rockhoop1@buckeye-express.com"><font 
            size=2>rockhoop1@buckeye-express.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Ontario</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Joe Balogh</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:balogh.joe@ontarioschools.org"><font 
            size=2>balogh.joe@ontarioschools.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Sue Homan</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:homan.sue@ontarioschools.org"><font 
            size=2>homan.sue@ontarioschools.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Plymouth</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Troy Keene</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:troykeene@hotmail.com"><font 
            size=2>troykeene@hotmail.com</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Scott Speicher</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:spiker_4@hotmail.com"><font 
            size=2>spiker_4@hotmail.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Port Clinton</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Troy Diels</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:tdiels@pccsd.net"><font 
            size=2>tdiels@pccsd.net</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Toby Bickel</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:tbickel@pccsd.net"><font 
            size=2>tbickel@pccsd.net</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Riverdale</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Matt McCullough</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:mmccullough@riverdale.k12.oh.us"><font 
            size=2>mmccullough@riverdale.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Mary Ann Holderman</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:mholderman@riverdale.k12.oh.us"><font 
            size=2>mholderman@riverdale.k12.oh.us</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Sandusky</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Steve Keller</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:skeller@scs-k12.net"><font 
            size=2>skeller@scs-k12.net</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Nicalo Venerucci</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:nvenerucci@scs-k12.net"><font 
            size=2>nvenerucci@scs-k12.net</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Sandusky Perkins</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Scott McVeigh</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:smcveigh@perkinsschools.org"><font 
            size=2>smcveigh@perkinsschools.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Ray Neill</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:rdn17@sbcglobal.net"><font 
            size=2>rdn17@sbcglobal.net</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Sandusky St. Mary's</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Lyle Falknor</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:lylfalknor@bellevue.k12.oh.us"><font 
            size=2>lylfalknor@bellevue.k12.oh.us<span 
            style="mso-spacerun: yes">&nbsp;</span></font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Becky Babione</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><font size="2"></font></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Seneca East</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Joe Bedingfield</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:jbedingfield@south-central.org"><font 
            size=2>jbedingfield@south-central.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Paul Jones</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:paulsmailinghouse@frontier.com"><font 
            size=2>paulsmailinghouse@frontier.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Shelby</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Troy Schwemley</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:schwemley.troy@shelbyk12.org"><font 
            size=2>schwemley.troy@shelbyk12.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Jodi Korbas</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:jkorbas@mansfield.k12.oh.us"><font 
            size=2>jkorbas@mansfield.k12.oh.us</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">South Central</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Brett Seidel</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:bseidel@south-central.org"><font 
            size=2>bseidel@south-central.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Becky Hintz</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:becky.hintz@yahoo.com"><font 
            size=2>becky.hintz@yahoo.com</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Tiffin Columbian</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Bill Beaston</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:bill_beaston@tiffin.k12.oh.us"><font 
            size=2>bill_beaston@tiffin.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Larry Kisabeth</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:larry_kisabeth@tiffin.k12.oh.us"><font 
            size=2>larry_kisabeth@tiffin.k12.oh.us</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Upper Sandusky</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Shane Adams</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:computeradams@yahoo.com"><font 
            size=2>computeradams@yahoo.com</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Brent Fahle</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:fahle_b@usevs.org"><font 
            size=2>fahle_b@usevs.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Western Reserve</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Chris Sheldon</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:csheldon@western-reserve.org"><font 
            size=2>csheldon@western-reserve.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Brenda Friend</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:bfriend@western-reserve.org"><font 
            size=2>bfriend@western-reserve.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Willard</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Dave Hirschy</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:hirschy.dave@willardschools.org"><font 
            size=2>hirschy.dave@willardschools.org</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Jon Dawson</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:dawson.jon@willardschools.org"><font 
            size=2>dawson.jon@willardschools.org</font></a></td></tr>
        <tr style="HEIGHT: 12.75pt" height="17">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 12.75pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          height=17><font size="2">Wynford</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Tim Ehresman</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:ehresman.tim@wynford.k12.oh.us"><font 
            size=2>ehresman.tim@wynford.k12.oh.us</font></a></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=2>Amy Taylor-Sheldon</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl65><a href="mailto:taylor.amy@wynford.k12.oh.us"><font 
            size=2>taylor.amy@wynford.k12.oh.us</font></a></td></tr></table></p>
      <p align="center">&nbsp;</p>
      <p align="center"><img style="WIDTH: 200px; HEIGHT: 148px" border="0" hspace="0" 
      src="http://www.district6basketball.net/images/logo.jpg" width=144 
      height=90></p></td></tr>
  <tr>
    <td bgcolor="#000000"><span 
      style="WIDOWS: 2; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; BORDER-COLLAPSE: separate; FONT: medium 'Times New Roman'; WHITE-SPACE: normal; ORPHANS: 2; LETTER-SPACING: normal; COLOR: rgb(0,0,0); WORD-SPACING: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" 
      class=Apple-style-span><span 
      style="TEXT-ALIGN: center; FONT-SIZE: 13px" class=Apple-style-span 
      ><span style="FONT-SIZE: 12pt" lang="en-US" 
      ><font color="#ffffff">Questions, 
      Comments, Troubles? Send your Emails to<span class="Apple-converted-space" 
      >&nbsp;</span></font></span><a href="mailto:district6basketball@gmail.com" ><span 
      style="FONT-SIZE: 12pt; TEXT-DECORATION: underline" lang=en-US 
      ><font color="#ffffff" 
      >district6basketball@gmail.com</font></span></a></span></span></td></tr></table></ 
P></p>

</body>
</html>