<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<meta name="GENERATOR" content="PageBreeze Free HTML Editor (http://www.pagebreeze.com)">
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
<title>index</title>
<style>
a.navwhite:link { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:visited { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:hover { text-decoration: underline; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:link { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:visited { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:hover { text-decoration: underline; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }

h1 { font-family: Arial, sans-serif; font-size: 30px; color: #a80000;}
h2 { font-family: Arial, sans-serif; font-size: 18px; color: #a80000;}

body,p,b,i,em,dt,dd,dl,sl,caption,th,td,tr,u,blink,select,option,form,div,li { font-family: Arial, sans-serif; font-size: 12px; }

/* IE Specific - Delete this if you do not want a colored scrollbar */
body, textarea {
  scrollbar-3dlight-color: #800800;
  scrollbar-highlight-color: #800000;
  scrollbar-face-color: #800000;
  scrollbar-shadow-color: #800800;
  scrollbar-darkshadow-color: #805B32;
  scrollbar-arrow-color: #FFFFFF;
  scrollbar-track-color: #F8EFE2;
}
/* END IE Specific */

</style>


</head>
<body bgcolor="#a80000" >
<p>
<table cellspacing="0" cellpadding="8" width="780" align="center" border="0" 
>
  
  <tr>
    <td>
      <h1 align="center"><br><font color="#ffffff">Welcome to the District 6 Basketball 
      Coaches Association</font></h1>
      <p>&nbsp;</p></td></tr>
  <tr>
        <td bgcolor="#000000">
      <p align="center"><font color="#ffffff">&nbsp; </font> <a class="navwhite" href="http://www.ohiobkcoaches.com/forms.htm" ><font color="#ffffff">  State 
      Forms</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/localforms" ><font color="#ffffff">  Local 
      Forms&nbsp;</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/contacts" ><font color="#ffffff">   
      Contacts</font>   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/calendar" ><font color="#ffffff">   
      Calendar</font>   </a></p>
      <p align="center"><font color="#ffffff">&nbsp; </font> <a class="navwhite" href="http://www.district6basketball.net/playerstowatch" 
     ><font >  Players  to 
      Watch</font>&nbsp;   </a><font color="#ffffff"> |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/awards" ><font 
      > End Season 
      Awards</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/officers" ><font 
      >   
      Officers</font>   </a><font color="#ffffff">&nbsp; |&nbsp;&nbsp; </font>  <a class="navwhite" href="localnews" ><font 
      >  Local 
      News</font>&nbsp;   </a><font 
      color=#ffffff>|&nbsp;&nbsp;</font>  <a class="navwhite" href="Links" ><font 
      >   
      Links</font>   </a></p></td></tr>
  <tr>
    <td bgcolor="#ffffff">
      <p align="center">&nbsp;</p>
      <h2 align="left">Good Luck to All the Teams in the 
      State Tournament!</h2>
      <p align="left"> &nbsp;</p>
      <p>&nbsp;</p>
      <p><font size="2">All-District teams will be released 
      right here on March 5, 2010!</font></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p></td></tr>
  <tr>
        <td  BGCOLOR=#000000><span 
      style="WIDOWS: 2; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; BORDER-COLLAPSE: separate; FONT: medium 'Times New Roman'; WHITE-SPACE: normal; ORPHANS: 2; LETTER-SPACING: normal; COLOR: rgb(0,0,0); WORD-SPACING: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" 
      class=Apple-style-span><span style="TEXT-ALIGN: center; FONT-SIZE: 13px" 
      class=Apple-style-span><span style="FONT-SIZE: 12pt" lang="en-US"><font 
      color=#ffffff>Questions, Comments, Troubles? Send your Emails to<span 
      class=Apple-converted-space>&nbsp;</span></font></span><a 
      href="mailto:chris.birie@gmail.com?subject=District%206%20Coaches%20Association%20Basketball%20Website"><span 
      style="FONT-SIZE: 12pt; TEXT-DECORATION: underline" lang=en-US><font 
      color=#ffffff>chris.birie@gmail.com</font></span></a></span></span></td></tr></table></ 
P></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><font size="1" color="#ffffff">
<p align="center"><font size="1">This Web 
Page Created with PageBreeze </font><a 
href="http://www.pagebreeze.com/free-website-builder.htm" target=_blank><font size="1">Free Website 
Builder</font></a> </p>      </font>
</body>
</html>