<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<meta name="GENERATOR" content="PageBreeze Free HTML Editor (http://www.pagebreeze.com)">
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
<title>Welcome to the Ohio High School District 6 Coaches Association</title>
<style>
a.navwhite:link { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:visited { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:hover { text-decoration: underline; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:link { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:visited { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:hover { text-decoration: underline; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }

h1 { font-family: Arial, sans-serif; font-size: 30px; color: #a80000;}
h2 { font-family: Arial, sans-serif; font-size: 18px; color: #a80000;}

body,p,b,i,em,dt,dd,dl,sl,caption,th,td,tr,u,blink,select,option,form,div,li { font-family: Arial, sans-serif; font-size: 12px; }

</style>


</head>
<body bgcolor="#a80000" >
<p>
<table cellspacing="0" cellpadding="8" width="780" align="center" border="0" 
>
  <tbody>
  
  <tr>
    <td>
      <h1 align="center"><br><font color="#ffffff">      
       Welcome to Ohio Basketball District 6      
       Coaches      
       Association</font></h1>
      <p>&nbsp;</p></td></tr>
  <tr>
        <td bgcolor="#000000">
      <p align="center"><font color="#ffffff"> <a class="navwhite" href="http://www.district6basketball.net" ><font color="#ffffff">   
      Home</font>&nbsp;&nbsp;   </a><font color="#ffffff">&nbsp; | </font>&nbsp; </font> <a class="navwhite" href="http://ohiobkcoaches.com/forms/" ><font color="#ffffff">  State 
      Forms</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/localforms" ><font color="#ffffff">  Local 
      Forms&nbsp;</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/contacts" ><font color="#ffffff">   
      Contacts</font>   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/calendar" ><font color="#ffffff">   
      Calendar</font>   </a></p>
      <p align="center"><font color="#ffffff">&nbsp; </font> <a class="navwhite" href="http://www.district6basketball.net/playerstowatch" 
     ><font >  Players  to 
      Watch</font>&nbsp;   </a><font color="#ffffff"> |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/awards" ><font 
      > End Season 
      Awards</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/officers" ><font 
      >   
      Officers</font>   </a><font color="#ffffff">&nbsp; |&nbsp;&nbsp; </font>  <a class="navwhite" href="localnews" ><font 
      >  Local 
      News</font>&nbsp;   </a><font 
      color=#ffffff>|&nbsp;&nbsp;</font>  <a class="navwhite" href="links" ><font 
      >   
      Links</font>   </a></p></td></tr>
  <tr>
    <td bgcolor="#ffffff">
      <p align="left">   </p>
      <p align="left">   </p><span 
      left:0px;top:12px;width:1124px;height:152px=""><span 
      left:120px;top:348px;width:880px;height:96px=""><span 
      style="FONT-SIZE: 22pt" lang=en-US><font 
      >  
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center><b style="mso-bidi-font-weight: normal"><u><span 
      style="FONT-VARIANT: small-caps; FONT-SIZE: 16pt; text-shadow: auto"><font 
      ><font size="6">District 6 Coaches Association<o:p></o:p></font></font></span></u></b></p>
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center><b style="mso-bidi-font-weight: normal"><span 
      style="FONT-SIZE: 16pt"><font ><font size="6">Fall 
      Meeting<o:p></o:p></font></font></span></b></p>
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center><b style="mso-bidi-font-weight: normal"><span 
      style="FONT-SIZE: 16pt"><font ><font 
      size=6>Wednesday September 28, 
2011<o:p></o:p></font></font></span></b></p>
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center><font ><font size="6"><st1:place w:st="on"><st1:placename w:st="on"><b 
      style="mso-bidi-font-weight: normal"><span 
      style="FONT-SIZE: 16pt">Willard</span></b></st1:placename><b 
      style="mso-bidi-font-weight: normal"><span style="FONT-SIZE: 16pt"> 
      <st1:placename w:st="on">High 
      School</st1:placename></span></b></st1:place><b 
      style="mso-bidi-font-weight: normal"><span 
      style="FONT-SIZE: 16pt"><o:p></o:p></span></b></font></font></p>
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center><b style="mso-bidi-font-weight: normal"><span 
      style="FONT-SIZE: 16pt"><font ><font size="6">6:00 
      p.m.<o:p></o:p></font></font></span></b></p>
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center><o:p><font size="3" 
      >&nbsp;</font></o:p></p>
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center><font size="3" >Guest Speaker to Follow, 
      Head Coach Kevin Billie, Notre Dame</font></p>
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center><b style="mso-bidi-font-weight: normal"><o:p><font size="3" 
      >&nbsp;</font></o:p></b></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><font 
      ><font 
      >  <font size="3"><b style="mso-bidi-font-weight: normal"><span 
      style="mso-tab-count: 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span></b>The<b style="mso-bidi-font-weight: normal"> </b>District 6 
      Officers welcome you to another year of basketball and hope that all will 
      have a successful year. I would like to thank Coach Birie for his years of 
      service to District 6.<span style="mso-spacerun: yes">&nbsp; </span>For 
      those of you that are new coaches in our District, I would like to say 
      welcome and hope to see you at the Fall meeting. I'm looking forward to 
      serving as your District Director and working with all of you.<span 
      style="mso-spacerun: yes">&nbsp; </span></font></font></font></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><o:p><font size="3" 
      >&nbsp;</font></o:p></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><font 
      ><font 
      >  <font size="3"><span 
      style="mso-tab-count: 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>It is important to make sure that all of you join the State Coaches 
      Association and the Local Association. Many times there are awards, both 
      academic and athletic, that are available to both you and your athletes, 
      but failure to join the OHSBCA disqualifies you from these awards. Please 
      see the district website to down load Local and Sate forms 
      </font>              
                 
                  
                  
                 
      </font></font><a href="http://www.district6basketball.net/"><font 
      color=#0000ff size=3 
      >www.district6basketball.net</font></a><font 
      ><font >  <font size="3"> <span 
      style="mso-spacerun: yes">&nbsp;</span><span 
      style="mso-spacerun: yes">&nbsp;</span>Please encourage all of your staff 
      members to join and vote every year.<b 
      style="mso-bidi-font-weight: normal"> <u><span 
      style="FONT-VARIANT: small-caps"><font size="3">It is very important that you turn your 
      STATE and your DISTRICT registration into our District 6 officers so that 
      we have a record of your registration. Make out one check to District 6 
      for both STATE and DISTRICT dues.</font>        
                  
                    
           </span></u></b><span 
      style="FONT-VARIANT: small-caps"> <o:p></o:p></span></font></font></font></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><span 
      style="FONT-VARIANT: small-caps"><o:p><font size="3" 
      >&nbsp;</font></o:p></span></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><span 
      style="FONT-SIZE: 20pt"><font 
      >One CHECK made out to 
      District 6 for state and local dues.<o:p></o:p></font></span></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><o:p><font size="3" 
      >&nbsp;</font></o:p></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><font size="3"><font 
      ><span 
      style="mso-tab-count: 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>I've also attached the state and local forms to be filled out. If 
      you have any questions feel free to contact me in my office (419) 668-8470 
      ext. 2007 or </font></font><a 
      href="mailto:csheldon@western-reserve.org"><font color="#0000ff" size="3" 
      >csheldon@western-reserve.org</font></a></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><o:p><font size="3" 
      >&nbsp;</font></o:p></p>
      <p style="TEXT-INDENT: 0.5in; MARGIN: 0in 0in 0pt" class="MsoNormal"><font 
      size=3><font 
      >Lastly, if you are interested in 
      running for Treasurer for our District, let me know of your interest in 
      writing.<span style="mso-spacerun: yes">&nbsp; </span>We currently have 
      two coaches that have applied.<span style="mso-spacerun: yes">&nbsp; 
      </span>The deadline to apply is 9/23/11.<span 
      style="mso-spacerun: yes">&nbsp; </span></font></font></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><o:p><font size="3" 
      >&nbsp;</font></o:p></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><span 
      style="mso-tab-count: 1"><font size="3" 
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </font></span></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><font size="3" 
      >Yours in Hoops,</font></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><o:p><font size="3" 
      >&nbsp;</font></o:p></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><font size="3" 
      >Chris Sheldon<span 
      style="mso-tab-count: 6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>Dave Sheldon</font></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><font size="3" 
      >President<span 
      style="mso-tab-count: 6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>Vice-President</font></p>
      <p style="MARGIN: 0in 0in 0pt" class="MsoNormal"><font size="3" 
      >District 6<span 
      style="mso-tab-count: 6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>District 6</font></p>
      <p align="center">        
             
      </font>      
               
      </span></span></span><img 
      style="WIDTH: 200px; HEIGHT: 148px" border=0 hspace=0 src="http://www.district6basketball.net/images/logo.jpg" 
      width=144 height=90></p></td></tr>
  <tr>
        <td  BGCOLOR=#000000><span 
      style="WIDOWS: 2; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; BORDER-COLLAPSE: separate; FONT: medium 'Times New Roman'; WHITE-SPACE: normal; ORPHANS: 2; LETTER-SPACING: normal; COLOR: rgb(0,0,0); WORD-SPACING: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" 
      class=Apple-style-span><span style="TEXT-ALIGN: center; FONT-SIZE: 13px" 
      class=Apple-style-span><span style="FONT-SIZE: 12pt" lang="en-US"><font 
      color=#ffffff>Questions, Comments, Troubles? Send your Emails to<span 
      class=Apple-converted-space>&nbsp;</span></font></span><a 
      href="mailto:district6basketball@gmail.com"><span 
      style="FONT-SIZE: 12pt; TEXT-DECORATION: underline" lang=en-US><font 
      color=#ffffff>district6basketball@gmail.com</font></span></a></span></span></td></tr></tbody></table></ 
P></p>

</body>
</html>