<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<meta name="GENERATOR" content="PageBreeze Free HTML Editor (http://www.pagebreeze.com)">
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
<title>Welcome to the Ohio High School District 6 Coaches Association</title>
<style>
a.navwhite:link { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:visited { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:hover { text-decoration: underline; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:link { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:visited { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:hover { text-decoration: underline; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }

h1 { font-family: Arial, sans-serif; font-size: 30px; color: #a80000;}
h2 { font-family: Arial, sans-serif; font-size: 18px; color: #a80000;}

body,p,b,i,em,dt,dd,dl,sl,caption,th,td,tr,u,blink,select,option,form,div,li { font-family: Arial, sans-serif; font-size: 12px; }

</style>


</head>
<body bgcolor="#a80000" >
<p>
<table cellspacing="0" cellpadding="8" width="780" align="center" border="0" 
>
  <tbody>
  
  <tr>
    <td>
      <h1 align="center"><br><font color="#ffffff">      
       Welcome to Ohio Basketball District 6      
       Coaches      
       Association</font></h1>
      <p>&nbsp;</p></td></tr>
  <tr>
        <td bgcolor="#000000">
      <p align="center"><font color="#ffffff"> <a class="navwhite" href="http://www.district6basketball.net" ><font color="#ffffff">   
      Home</font>&nbsp;&nbsp;   </a><font color="#ffffff">&nbsp; | </font>&nbsp; </font> <a class="navwhite" href="http://ohiobkcoaches.com/forms/" ><font color="#ffffff">  State 
      Forms</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/localforms" ><font color="#ffffff">  Local 
      Forms&nbsp;</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/contacts" ><font color="#ffffff">   
      Contacts</font>   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/calendar" ><font color="#ffffff">   
      Calendar</font>   </a></p>
      <p align="center"><font color="#ffffff">&nbsp; </font> <a class="navwhite" href="http://www.district6basketball.net/playerstowatch" 
     ><font >  Players  to 
      Watch</font>&nbsp;   </a><font color="#ffffff"> |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/awards" ><font 
      > End Season 
      Awards</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/officers" ><font 
      >   
      Officers</font>   </a><font color="#ffffff">&nbsp; |&nbsp;&nbsp; </font>  <a class="navwhite" href="localnews" ><font 
      >  Local 
      News</font>&nbsp;   </a><font 
      color=#ffffff>|&nbsp;&nbsp;</font>  <a class="navwhite" href="links" ><font 
      >   
      Links</font>   </a></p></td></tr>
  <tr>
    <td bgcolor="#ffffff">
      <p align="left">   </p>
      <p align="left">   </p><span 
      left:0px;top:12px;width:1124px;height:152px=""><span 
      left:120px;top:348px;width:880px;height:96px=""><span 
      style="FONT-SIZE: 22pt" lang=en-US>  
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center><b style="mso-bidi-font-weight: normal"><u><span 
      style="FONT-VARIANT: small-caps; FONT-SIZE: 16pt; text-shadow: auto"><font size="6">District 6 Coaches Association<o:p></o:p></font></span></u></b></p><b style="mso-bidi-font-weight: normal"><span 
      style="FONT-SIZE: 16pt"><font size="6">
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri><font size="5">OHSBCA District 6 Winter 
      Meeting<br></font>Coaches,<br>It is amazing that the end of January is 
      upon us, leaving us with only a month of the regular <br>season 
      left.&nbsp; Some of us are excited and enjoying our current seasons, while 
      others are <br>questioning “why do I do this job?”&nbsp; Remember that no 
      matter win or lose, we have one of the <br>greatest jobs in the 
      world.&nbsp; We are able to influence young people’s mental make-up, 
      values,<br>and work ethic on a daily basis.&nbsp; It will have a positive 
      or negative impact on them and remain a <br>part of their beliefs for the 
      rest of their lives.&nbsp; <br></font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri>Our winter District 6 meeting for End of the Year Awards 
      recognition will be held on February 19th<br>at 2 p.m. at Norwalk High 
      School.&nbsp; <br></font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri>In order for your players to receive District 6 awards, you 
      must be present to vote at the <br>meeting and a member of District 
      6.&nbsp; <br></font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri>Attached is an excel spreadsheet you MUST use for nominating 
      your players for all-district <br>awards.&nbsp; Open the document and 
      input the needed information.&nbsp; Save the document and resubmit it to 
      my email account.&nbsp; Nominations are due to me via email by February 
      14, 2012.&nbsp; <br></font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri>District 6 scholarship application is available as well on 
      our district website.&nbsp; The deadline is <br>3/30/12.&nbsp; Also visit 
      the state website for individual and team recognition through the 
      OHSBCA.&nbsp; <br>I wish all of you the best of luck as you come down the 
      home stretch and I’ll see you at Norwalk <br>on 2/19/12.<br></p></font>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri> </font>&nbsp;</p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri>Chris Sheldon</font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><a 
      href="http://www.district6basketball.net"><font color="#0000ff" size="4" 
      face=Calibri>www.district6basketball.net</font></a><a 
name=_GoBack></a></p>
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center></font></span></b>      
               
      </span></span></span><img 
      style="WIDTH: 200px; HEIGHT: 148px" border=0 hspace=0 src="http://www.district6basketball.net/images/logo.jpg" 
      width=144 height=90></p></td></tr>
  <tr>
        <td  BGCOLOR=#000000><span 
      style="WIDOWS: 2; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; BORDER-COLLAPSE: separate; FONT: medium 'Times New Roman'; WHITE-SPACE: normal; ORPHANS: 2; LETTER-SPACING: normal; COLOR: rgb(0,0,0); WORD-SPACING: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" 
      class=Apple-style-span><span style="TEXT-ALIGN: center; FONT-SIZE: 13px" 
      class=Apple-style-span><span style="FONT-SIZE: 12pt" lang="en-US"><font 
      color=#ffffff>Questions, Comments, Troubles? Send your Emails to<span 
      class=Apple-converted-space>&nbsp;</span></font></span><a 
      href="mailto:district6basketball@gmail.com"><span 
      style="FONT-SIZE: 12pt; TEXT-DECORATION: underline" lang=en-US><font 
      color=#ffffff>district6basketball@gmail.com</font></span></a></span></span></td></tr></tbody></table></ 
P></p>

</body>
</html>