<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<meta name="GENERATOR" content="PageBreeze Free HTML Editor (http://www.pagebreeze.com)">
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
<title>Welcome to the Ohio High School District 6 Coaches Association</title>
<style>
a.navwhite:link { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:visited { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:hover { text-decoration: underline; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:link { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:visited { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:hover { text-decoration: underline; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }

h1 { font-family: Arial, sans-serif; font-size: 30px; color: #a80000;}
h2 { font-family: Arial, sans-serif; font-size: 18px; color: #a80000;}

body,p,b,i,em,dt,dd,dl,sl,caption,th,td,tr,u,blink,select,option,form,div,li { font-family: Arial, sans-serif; font-size: 12px; }

</style>


</head>
<body bgcolor="#a80000" >
<p>
<table cellspacing="0" cellpadding="8" width="780" align="center" border="0" 
>
  <tbody>
  
  <tr>
    <td>
      <h1 align="center"><br><font color="#ffffff">      
       Welcome to Ohio Basketball District 6      
       Coaches      
       Association</font></h1>
      <p>&nbsp;</p></td></tr>
  <tr>
        <td bgcolor="#000000">
      <p align="center"><font color="#ffffff"> <a class="navwhite" href="http://www.district6basketball.net" ><font color="#ffffff">   
      Home</font>&nbsp;&nbsp;   </a><font color="#ffffff">&nbsp; | </font>&nbsp; </font> <a class="navwhite" href="http://ohiobkcoaches.com/forms/" ><font color="#ffffff">  State 
      Forms</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/localforms" ><font color="#ffffff">  Local 
      Forms&nbsp;</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/contacts" ><font color="#ffffff">   
      Contacts</font>   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/calendar" ><font color="#ffffff">   
      Calendar</font>   </a></p>
      <p align="center"><font color="#ffffff">&nbsp; </font> <a class="navwhite" href="http://www.district6basketball.net/playerstowatch" 
     ><font >  Players  to 
      Watch</font>&nbsp;   </a><font color="#ffffff"> |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/awards" ><font 
      > End Season 
      Awards</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/officers" ><font 
      >   
      Officers</font>   </a><font color="#ffffff">&nbsp; |&nbsp;&nbsp; </font>  <a class="navwhite" href="localnews" ><font 
      >  Local 
      News</font>&nbsp;   </a><font 
      color=#ffffff>|&nbsp;&nbsp;</font>  <a class="navwhite" href="links" ><font 
      >   
      Links</font>   </a></p></td></tr>
  <tr>
    <td bgcolor="#ffffff">
      <p align="left">   </p>
      <p align="left">   </p><span 
      left:0px;top:12px;width:1124px;height:152px=""><span 
      left:120px;top:348px;width:880px;height:96px=""><span 
      style="FONT-SIZE: 22pt" lang=en-US><font 
      >  
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center><b style="mso-bidi-font-weight: normal"><u><span 
      style="FONT-VARIANT: small-caps; FONT-SIZE: 16pt; text-shadow: auto"><font 
      ><font size="6">District 6 Coaches Association<o:p></o:p></font></font></span></u></b></p><b style="mso-bidi-font-weight: normal"><span 
      style="FONT-SIZE: 16pt"><font ><font size="6">
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri>Coaches,</font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font face="Calibri"><font 
      size=4>Thanks again for attending Wednesday’s District 6 meeting.<span 
      style="mso-spacerun: yes">&nbsp; </span>Reminder, you must attend meetings 
      in order for your voice to be heard and surveyed.<span 
      style="mso-spacerun: yes">&nbsp; </span>To those coaches that didn’t 
      attend the meeting or send in their District 6 and State dues, if you 
      choose not to join the association you and your players will not be 
      eligible to receive district &amp; state level award recognition at the 
      end of the year.<span style="mso-spacerun: yes">&nbsp; 
      </span></font></font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri>Your dues for state and local association are due to me by 
      November 1, 2011.<span style="mso-spacerun: yes">&nbsp; </span>Mail them 
      to the following:</font></p>
      <p style="LINE-HEIGHT: normal; MARGIN: 0in 0in 10pt" class="MsoNormal"><font 
      face=Calibri><font size="4"><span 
      style="mso-tab-count: 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Western 
      Reserve High School 
      </span></font></font></p>
      <p style="LINE-HEIGHT: normal; MARGIN: 0in 0in 10pt" class="MsoNormal"><font 
      face=Calibri><font size="4"><span 
      style="mso-tab-count: 1"> 
      </span></font></font><span 
      style="FONT-SIZE: 10pt"><font face="Calibri"><font size="4"><span 
      style="mso-tab-count: 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>3481 US. Rt. 20 E<o:p></o:p></font></font></span></p>
      <p style="LINE-HEIGHT: normal; MARGIN: 0in 0in 10pt" class="MsoNormal"><span 
      style="FONT-SIZE: 10pt"><font face="Calibri"><font size="4"><span 
      style="mso-tab-count: 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>Collins, OH 44826<o:p></o:p></font></font></span></p>
      <p style="LINE-HEIGHT: normal; MARGIN: 0in 0in 10pt" class="MsoNormal"><span 
      style="FONT-SIZE: 10pt"><font face="Calibri"><font size="4"><span 
      style="mso-tab-count: 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>Attn: Chris Sheldon<o:p></o:p></font></font></span></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font face="Calibri"><font 
      size=4>I would like to congratulate Coach Ryan Carter as being elected the 
      new Treasurer for District 6.<span style="mso-spacerun: yes">&nbsp; 
      </span>I would also like to thank Coach Nate Hill and Coach CJ Kinn for 
      volunteering their services as well.<span style="mso-spacerun: yes">&nbsp; 
      </span></font></font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri>Voting Results:<span 
      style="mso-tab-count: 2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>Carter 46%<span 
      style="mso-tab-count: 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>Hill 28%<span 
      style="mso-tab-count: 2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </span>Kinn 26%</font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri>Our district has clearly outlined your stance on current 
      issues the association is considering by your participation in our survey 
      at the meeting.</font></p>
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center>
      <table 
      style="MARGIN: auto auto auto 4.65pt; WIDTH: 558.85pt; BORDER-COLLAPSE: collapse; mso-yfti-tbllook: 1184; mso-padding-alt: 0in 5.4pt 0in 5.4pt" 
      class=MsoNormalTable border=0 cellSpacing=0 cellPadding=0 width=745>
        
        <tr style="HEIGHT: 15pt; mso-yfti-irow: 0; mso-yfti-firstrow: yes">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 214pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=285 noWrap>
            <p style="LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal><i><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Dist 6 Data Fall 
            2011<o:p></o:p></font></span></u></i></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 32pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=43 noWrap>
            <p 
            style="TEXT-ALIGN: right; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=right><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Boys<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap><font face="Calibri"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap><font face="Calibri"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap><font face="Calibri"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 26pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=35 noWrap>
            <p 
            style="TEXT-ALIGN: right; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=right><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Girls <o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap><font face="Calibri"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap><font face="Calibri"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap><font face="Calibri"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 57.3pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=76 colSpan=2 noWrap>
            <p style="LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Dist 6 Totals<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap><font face="Calibri"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap><font face="Calibri"></font></td></tr>
        <tr style="HEIGHT: 15pt; mso-yfti-irow: 1">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 214pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=285 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Survey Issues<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 32pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=43 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>For<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; BACKGROUND: red; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Against<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Total<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>%<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 26pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=35 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>For<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; BACKGROUND: red; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Against<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Total<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>%<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 21.65pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=29 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>For<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; BACKGROUND: red; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Against<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Total<o:p></o:p></font></span></u></b></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><b><u><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>%<o:p></o:p></font></span></u></b></p></td></tr>
        <tr style="HEIGHT: 15pt; mso-yfti-irow: 2">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 214pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=285 noWrap>
            <p style="LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Off Season Workouts 20 hours total April , May, Sept, 
            Oct, Nov<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 32pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=43 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>37<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>2<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>39<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.95<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 26pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=35 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>37<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>2<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>39<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.95<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 21.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=29 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>74<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>4<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>78<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: right; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=right><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.95<o:p></o:p></font></span></p></td></tr>
        <tr style="HEIGHT: 15pt; mso-yfti-irow: 3">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 214pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=285 noWrap>
            <p style="LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>7-10 Dead Period all OHSAA around July 
            4<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 32pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=43 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>27<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>12<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>39<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.69<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 26pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=35 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>27<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>12<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>39<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.69<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 21.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=29 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>54<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>24<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>78<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: right; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=right><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.69<o:p></o:p></font></span></p></td></tr>
        <tr style="HEIGHT: 15pt; mso-yfti-irow: 4">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 214pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=285 noWrap>
            <p style="LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Official tournament selection based on 
            crews<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 32pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=43 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>23<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>16<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>39<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.59<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 26pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=35 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>21<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>18<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>39<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.54<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 21.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=29 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>44<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>34<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>78<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: right; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=right><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.56<o:p></o:p></font></span></p></td></tr>
        <tr style="HEIGHT: 15pt; mso-yfti-irow: 5; mso-yfti-lastrow: yes">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 214pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=285 noWrap>
            <p style="LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>Coaches Clinic moved to 
            Sat/Sun<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 32pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=43 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>22<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>17<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>39<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.56<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 26pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=35 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>29<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>10<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>39<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.74<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 21.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=29 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>51<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 35.65pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=48 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>27<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5.4pt; WIDTH: 27.75pt; PADDING-RIGHT: 5.4pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=37 noWrap>
            <p 
            style="TEXT-ALIGN: center; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=center><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>78<o:p></o:p></font></span></p></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; PADDING-BOTTOM: 0in; PADDING-LEFT: 5.4pt; WIDTH: 25pt; PADDING-RIGHT: 5.4pt; BACKGROUND: #00b050; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0; PADDING-TOP: 0in" 
          vAlign=bottom width=33 noWrap>
            <p 
            style="TEXT-ALIGN: right; LINE-HEIGHT: normal; MARGIN: 0in 0in 0pt" 
            class=MsoNormal align=right><span 
            style="COLOR: black; FONT-SIZE: 8pt; mso-ascii-font-family: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri"><font 
            face=Calibri>0.65<o:p></o:p></font></span></p></td></tr></table></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><span 
      style="LINE-HEIGHT: 115%; FONT-SIZE: 8pt"><font face="Calibri"><span 
      style="mso-spacerun: yes">&nbsp;</span><o:p></o:p></font></span></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="3" 
      face=Calibri>I<font size="4"> wish all of you the best of luck to the start of your 
      seasons.<span style="mso-spacerun: yes">&nbsp; </span>If you need 
      anything don’t hesitate to contact me.</font>    
          </font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><font size="4" 
      face=Calibri>Chris Sheldon</font></p>
      <p style="MARGIN: 0in 0in 10pt" class="MsoNormal"><a 
      href="http://www.district6basketball.net"><font color="#0000ff" size="4" 
      face=Calibri>www.district6basketball.net</font></a><a 
name=_GoBack></a></p>
      <p style="TEXT-ALIGN: center; MARGIN: 0in 0in 0pt" class="MsoNormal" 
      align=center></font></font></span></b>        
             
      </font>      
               
      </span></span></span><img 
      style="WIDTH: 200px; HEIGHT: 148px" border=0 hspace=0 src="http://www.district6basketball.net/images/logo.jpg" 
      width=144 height=90></p></td></tr>
  <tr>
        <td  BGCOLOR=#000000><span 
      style="WIDOWS: 2; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; BORDER-COLLAPSE: separate; FONT: medium 'Times New Roman'; WHITE-SPACE: normal; ORPHANS: 2; LETTER-SPACING: normal; COLOR: rgb(0,0,0); WORD-SPACING: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" 
      class=Apple-style-span><span style="TEXT-ALIGN: center; FONT-SIZE: 13px" 
      class=Apple-style-span><span style="FONT-SIZE: 12pt" lang="en-US"><font 
      color=#ffffff>Questions, Comments, Troubles? Send your Emails to<span 
      class=Apple-converted-space>&nbsp;</span></font></span><a 
      href="mailto:district6basketball@gmail.com"><span 
      style="FONT-SIZE: 12pt; TEXT-DECORATION: underline" lang=en-US><font 
      color=#ffffff>district6basketball@gmail.com</font></span></a></span></span></td></tr></tbody></table></ 
P></p>

</body>
</html>