<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<link rel=File-List href="officers_files/filelist.xml">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
b\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<title>Officers</title>
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:"Times New Roman";
	panose-1:2 2 6 3 5 4 5 2 3 4;}
@font-face
	{font-family:"Arial Black";
	panose-1:2 11 10 4 2 1 2 2 2 4;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-right:0pt;
	text-indent:0pt;
	margin-top:0pt;
	margin-bottom:0pt;
	text-align:left;
	font-family:"Times New Roman";
	font-size:10.0pt;
	color:black;}
ol
	{margin-top:0in;
	margin-bottom:0in;
	margin-left:-2197in;}
ul
	{margin-top:0in;
	margin-bottom:0in;
	margin-left:-2197in;}
@page
	{size:8.0302in 11.0in;}
-->
</style>
<!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="3075" fill="f" fillcolor="white [7]"
  strokecolor="black [0]">
  <v:fill color="white [7]" color2="white [7]" on="f"/>
  <v:stroke color="black [0]" color2="white [7]">
   <o:left v:ext="view" color="black [0]" color2="white [7]"/>
   <o:top v:ext="view" color="black [0]" color2="white [7]"/>
   <o:right v:ext="view" color="black [0]" color2="white [7]"/>
   <o:bottom v:ext="view" color="black [0]" color2="white [7]"/>
   <o:column v:ext="view" color="black [0]" color2="white [7]"/>
  </v:stroke>
  <v:shadow color="#ccc [4]"/>
  <v:textbox inset="2.88pt,2.88pt,2.88pt,2.88pt"/>
  <o:colormru v:ext="edit" colors="red"/>
 </o:shapedefaults><o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body link=blue vlink="#660099" style='margin:0'>

<div style='position:absolute;width:11.-2308in;height:5.2125in'>
<!--[if gte vml 1]><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
 path="m,l,21600r21600,l21600,xe">
 <v:stroke joinstyle="miter"/>
 <v:path gradientshapeok="t" o:connecttype="rect"/>
</v:shapetype><v:shape id="_x0000_s1104" type="#_x0000_t202" style='position:absolute;
 left:30pt;top:1in;width:120pt;height:30pt;z-index:5;mso-wrap-distance-left:2.88pt;
 mso-wrap-distance-top:2.88pt;mso-wrap-distance-right:2.88pt;
 mso-wrap-distance-bottom:2.88pt' filled="f" fillcolor="white [7]" stroked="f"
 strokecolor="black [0]" o:cliptowrap="t">
 <v:fill color2="white [7]"/>
 <v:stroke color2="white [7]">
  <o:left v:ext="view" color="black [0]" color2="white [7]"/>
  <o:top v:ext="view" color="black [0]" color2="white [7]"/>
  <o:right v:ext="view" color="black [0]" color2="white [7]"/>
  <o:bottom v:ext="view" color="black [0]" color2="white [7]"/>
  <o:column v:ext="view" color="black [0]" color2="white [7]"/>
 </v:stroke>
 <v:shadow color="#ccc [4]"/>
 <v:path insetpenok="f"/>
 <v:textbox style='mso-column-margin:2mm' inset="2.88pt,2.88pt,2.88pt,2.88pt"/>
</v:shape><![endif]--><![if !vml]><span style='position:absolute;z-index:5;
left:40px;top:96px;width:160px;height:40px'>

<table cellpadding=0 cellspacing=0>
 <tr>
  <td width=160 height=40 style='vertical-align:top'><![endif]>
  <div v:shape="_x0000_s1104" style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  class=shape>
  <p class=MsoNormal><a href="http://www.district6basketball.net/"><span
  lang=en-US style='font-size:18.0pt;text-decoration:underline;language:en-US'>Home</span></a></p>
  </div>
  <![if !vml]></td>
 </tr>
</table>

</span><![endif]><!--[if gte vml 1]><v:shape id="_x0000_s1105" type="#_x0000_t202"
 style='position:absolute;left:0;top:0;width:570pt;height:56.69pt;z-index:6;
 mso-wrap-distance-left:2.88pt;mso-wrap-distance-top:2.88pt;
 mso-wrap-distance-right:2.88pt;mso-wrap-distance-bottom:2.88pt' filled="f"
 fillcolor="white [7]" stroked="f" strokecolor="black [0]" o:cliptowrap="t">
 <v:fill color2="white [7]"/>
 <v:stroke color2="white [7]">
  <o:left v:ext="view" color="black [0]" color2="white [7]"/>
  <o:top v:ext="view" color="black [0]" color2="white [7]"/>
  <o:right v:ext="view" color="black [0]" color2="white [7]"/>
  <o:bottom v:ext="view" color="black [0]" color2="white [7]"/>
  <o:column v:ext="view" color="black [0]" color2="white [7]"/>
 </v:stroke>
 <v:shadow color="#ccc [4]"/>
 <v:path insetpenok="f"/>
 <v:textbox style='mso-column-margin:2mm' inset="2.88pt,2.88pt,2.88pt,2.88pt"/>
</v:shape><![endif]--><![if !vml]><span style='position:absolute;z-index:6;
left:0px;top:0px;width:760px;height:76px'>

<table cellpadding=0 cellspacing=0>
 <tr>
  <td width=760 height=76 style='vertical-align:top'><![endif]>
  <div v:shape="_x0000_s1105" style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  class=shape>
  <p class=MsoNormal style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:36.0pt;font-family:"Arial Black";language:en-US'>Officers</span></p>
  </div>
  <![if !vml]></td>
 </tr>
</table>

</span><![endif]><!--[if gte vml 1]><v:shape id="_x0000_s1110" type="#_x0000_t202"
 style='position:absolute;left:56.69pt;top:180pt;width:750.31pt;height:228pt;
 z-index:7;mso-wrap-distance-left:2.88pt;mso-wrap-distance-top:2.88pt;
 mso-wrap-distance-right:2.88pt;mso-wrap-distance-bottom:2.88pt' filled="f"
 fillcolor="white [7]" stroked="f" strokecolor="black [0]" o:cliptowrap="t">
 <v:fill color2="white [7]"/>
 <v:stroke color2="white [7]">
  <o:left v:ext="view" color="black [0]" color2="white [7]"/>
  <o:top v:ext="view" color="black [0]" color2="white [7]"/>
  <o:right v:ext="view" color="black [0]" color2="white [7]"/>
  <o:bottom v:ext="view" color="black [0]" color2="white [7]"/>
  <o:column v:ext="view" color="black [0]" color2="white [7]"/>
 </v:stroke>
 <v:shadow color="#ccc [4]"/>
 <v:path insetpenok="f"/>
 <v:textbox style='mso-column-margin:5.76pt' inset="2.88pt,2.88pt,2.88pt,2.88pt"/>
</v:shape><![endif]--><![if !vml]><span style='position:absolute;z-index:7;
left:76px;top:240px;width:1001px;height:304px'>

<table cellpadding=0 cellspacing=0>
 <tr>
  <td width=1001 height=304 style='vertical-align:top'><![endif]>
  <div v:shape="_x0000_s1110" style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  class=shape>
  <p class=MsoNormal><span lang=en-US style='font-size:14.0pt;language:en-US'>President                                                              Vice President                                                     Treasurer</span></p>
  <p class=MsoNormal><span lang=en-US style='font-size:14.0pt;language:en-US'>Tim Birie                                                             Chris Sheldon                                                     David Sheldon</span></p>
  <p class=MsoNormal><span lang=en-US style='font-size:14.0pt;language:en-US'>Galion High School                                           Western Reserve High School                           Col Crawford High School</span></p>
  <p class=MsoNormal style='margin-bottom:14.0pt'><a
  href="mailto:tbirie@columbus.rr.com"><span lang=en-US style='font-size:14.0pt;
  text-decoration:underline;language:en-US'>tbirie@columbus.rr.com</span></a><span
  lang=en-US style='font-size:14.0pt;language:en-US'>                                    </span><a
  href="mailto:csheldon@western-reserve.org"><span lang=en-US style='font-size:
  14.0pt;text-decoration:underline;language:en-US'>csheldon@western-reserve.org</span></a><span
  lang=en-US style='font-size:14.0pt;language:en-US'>                         </span><a
  href="mailto:sheldon.david@cck.k12.oh.us"><span lang=en-US style='font-size:
  14.0pt;text-decoration:underline;language:en-US'>sheldon.david@cck.k12.oh.us</span></a></p>
  <p class=MsoNormal><span lang=en-US style='font-size:14.0pt;language:en-US'>(740) 507-0630                                                   (419) 668-8470                                                   (419) 562-4666</span></p>
  <p class=MsoNormal><span lang=en-US style='font-size:14.0pt;language:en-US'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:14.0pt;language:en-US'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:14.0pt;language:en-US'>Districts 6 and 7 Girls Basketball Advisory Member</span></p>
  <p class=MsoNormal style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:14.0pt;language:en-US'>Amy Taylor-Sheldon</span></p>
  <p class=MsoNormal style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:14.0pt;language:en-US'>Wynford High School</span></p>
  <p class=MsoNormal style='text-align:center;margin-bottom:14.0pt;text-align:
  center'><a href="mailto:taylor.amy@wynford.k12.oh"><span lang=en-US
  style='font-size:14.0pt;text-decoration:underline;language:en-US'>taylor.amy@wynford.k12.oh</span></a></p>
  <p class=MsoNormal style='text-align:center;margin-bottom:14.0pt;text-align:
  center'><span lang=en-US style='font-size:14.0pt;language:en-US'>(419) 562-7828</span></p>
  </div>
  <![if !vml]></td>
 </tr>
</table>

</span><![endif]>
</div>

</body>

</html>
