<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<meta name="GENERATOR" content="PageBreeze Free HTML Editor (http://www.pagebreeze.com)">
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
<title>Players to Watch</title>
<style>
a.navwhite:link { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:visited { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navwhite:hover { text-decoration: underline; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:link { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:visited { text-decoration: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navblack:hover { text-decoration: underline; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }

h1 { font-family: Arial, sans-serif; font-size: 30px; color: #a80000;}
h2 { font-family: Arial, sans-serif; font-size: 18px; color: #a80000;}

body,p,b,i,em,dt,dd,dl,sl,caption,th,td,tr,u,blink,select,option,form,div,li { font-family: Arial, sans-serif; font-size: 12px; }

</style>


</head>
<body bgcolor="#a80000" >
<p>
<table cellspacing="0" cellpadding="8" width="780" align="center" border="0" 
>
  
  <tr>
    <td>
      <h1 align="center"><br><font color="#ffffff">      
             
       Players to      
             
       Watch</font></h1>
      <p align="center">&nbsp;</p>
      <p>&nbsp;</p></td></tr>
  <tr>
        <td bgcolor="#000000">
      <p align="center"><font color="#ffffff"> <a class="navwhite" href="http://www.district6basketball.net" ><font color="#ffffff">   
      Home</font>&nbsp;&nbsp;   </a><font color="#ffffff">&nbsp; | </font>&nbsp; </font> <a class="navwhite" href="http://www.ohiobkcoaches.com/forms.htm" ><font color="#ffffff">  State 
      Forms</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/localforms" ><font color="#ffffff">  Local 
      Forms&nbsp;</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/contacts" ><font color="#ffffff">   
      Contacts</font>   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/calendar" ><font color="#ffffff">   
      Calendar</font>   </a></p>
      <p align="center"><font color="#ffffff">&nbsp; </font> <a class="navwhite" href="http://www.district6basketball.net/playerstowatch" 
     ><font >  Players  to 
      Watch</font>&nbsp;   </a><font color="#ffffff"> |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/awards" ><font 
      > End Season 
      Awards</font>&nbsp;   </a><font color="#ffffff">&nbsp; |&nbsp; </font>  <a class="navwhite" href="http://www.district6basketball.net/officers" ><font 
      >   
      Officers</font>   </a><font color="#ffffff">&nbsp; |&nbsp;&nbsp; </font>  <a class="navwhite" href="localnews" ><font 
      >  Local 
      News</font>&nbsp;   </a><font 
      color=#ffffff>|&nbsp;&nbsp;</font>  <a class="navwhite" href="links" ><font 
      >   
      Links</font>   </a></p></td></tr>
  <tr>
    <td bgcolor="#ffffff">
      <p><span 
      style="WIDOWS: 2; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; BORDER-COLLAPSE: separate; FONT: medium 'Times New Roman'; WHITE-SPACE: normal; ORPHANS: 2; LETTER-SPACING: normal; COLOR: rgb(0,0,0); WORD-SPACING: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" 
      class=Apple-style-span><span 
      style="FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 12px" 
      class=Apple-style-span><span 
      style="WIDOWS: 2; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; BORDER-COLLAPSE: separate; FONT: medium 'Times New Roman'; WHITE-SPACE: normal; ORPHANS: 2; LETTER-SPACING: normal; COLOR: rgb(0,0,0); WORD-SPACING: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" 
      class=Apple-style-span>
      <table style="WIDTH: 339pt; BORDER-COLLAPSE: collapse" border="0" 
      cellSpacing=0 cellPadding=0 width=451>
        <colgroup>
        <col 
        style="WIDTH: 140pt; mso-width-source: userset; mso-width-alt: 6802" 
        width=186>
        <col 
        style="WIDTH: 111pt; mso-width-source: userset; mso-width-alt: 5412" 
        width=148>
        <col style="WIDTH: 88pt; mso-width-source: userset; mso-width-alt: 4278" 
        width=117>
        
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; WIDTH: 140pt; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20 width=186><strong><font size="4" 
            face="Times New Roman">BOYS DIVISION I</font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; WIDTH: 111pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          width=148><strong><font size="4" 
            face="Times New Roman"></font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; WIDTH: 88pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          width=117><strong><font size="4" 
            face="Times New Roman"></font></strong></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Jalevion 
            Page</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Sandusky</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Shunnar 
            Gamble</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Fremont 
Ross</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Shaquille 
            Smith</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Marion 
          Harding</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Cordney 
            Strickland</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Sandusky</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Montez 
            Norris</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Mansfield 
            Senior</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><font size="4" face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=4 face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=4 face="Times New Roman"></font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><strong><font size="4" 
            face="Times New Roman">BOYS DIVISION II</font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Josh 
            Ingle</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Shelby</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Garrett 
            Arnold</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Shelby</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Shaquille 
            Brooks</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Madison</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Michael 
            Ebert</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sandusky 
            Perkins</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Logan 
            Slavinski</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Clear Fork</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><font size="4" face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=4 face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=4 face="Times New Roman"></font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><strong><font size="4" 
            face="Times New Roman">BOYS DIVISION III</font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Devin 
            Jones</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Margaretta</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Nolan 
            Todd</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font face="Times New Roman"><font size="4"><st1:place 
            w_x003a_st="on">Western Reserve</st1:place> </font></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Kevin 
            Ujoohda</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:state 
            w_x003a_st="on">Ontario</st1:state> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Andrew 
            Nicholls</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Galion</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><font size="4" face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=4 face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=4 face="Times New Roman"></font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><strong><font size="4" 
            face="Times New Roman">BOYS DIVISION IV</font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Tyler 
            Lilly</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Mansfield 
            Christian</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Mason 
            Tong</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Carey</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Zach 
            Chatlain</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Wynford</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Ryan 
            Stover</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font face="Times New Roman"><font size="4"><st1:place 
            w_x003a_st="on">Monroeville</st1:place> </font></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><st1:street w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:address 
            w_x003a_st="on">Brant Reardon</st1:address> 
            </font></font></st1:street></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Fremont St. 
            Joseph</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Tyler 
            Erwin</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Buckeye 
          Central</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><font size="4" face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=4 face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><font 
            size=4 face="Times New Roman"></font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><strong><font size="4" 
            face="Times New Roman">GIRLS DIVISION I</font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Cara 
            Croom</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Sandusky</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Brenae 
            Harris</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Marion 
          Harding</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Rachel 
            Mahan</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Mansfield 
          Sr.</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Briatta 
            Webb</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font face="Times New Roman"><font size="4">Mansfield 
            Sr.<span style="mso-spacerun: yes">&nbsp;</span></font></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Bri 
            Crowe</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Sandusky</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Margan 
            Newell</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Sandusky</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman"></font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><strong><font size="4" 
            face="Times New Roman">GIRLS DIVISION II</font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Emma 
            Hostetler</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Shelby</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Soph</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font face="Times New Roman"><font 
            size=4>Kaylee Griffin<span 
            style="mso-spacerun: yes">&nbsp;</span></font></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font face="Times New Roman"><font size="4"><st1:place 
            w_x003a_st="on">Clyde</st1:place> </font></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Leslie 
            Raifsnider</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Bellevue</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Jordan 
            Fraley</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sandusky 
            Perking</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font face="Times New Roman"><font 
            size=4>Rachael Smetzler<span 
            style="mso-spacerun: yes">&nbsp;</span></font></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font face="Times New Roman"><font size="4"><st1:place 
            w_x003a_st="on">Clyde</st1:place> </font></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Alysun 
            Daniel</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Willard</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Erika 
            Jordan</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Bellevue</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman"></font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><strong><font size="4" 
            face="Times New Roman">GIRLS DIVISION III</font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Lauren 
            Volz</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Huron</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Erica 
            Cramer</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Seneca East</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Broegan 
            Sautter</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Clear Fork</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Allie 
            Hawkins</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Bucyrus</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font face="Times New Roman"><font size="4">Sarah 
            Weyer<span style="mso-spacerun: yes">&nbsp;</span></font></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Margaretta</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Monique 
            Wilson</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Clear Fork</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Theresa 
            Jackson</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font face="Times New Roman"><font size="4"><st1:place 
            w_x003a_st="on">Western Reserve</st1:place> </font></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Soph</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman"></font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman"></font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl63 height=20><strong><font size="4" 
            face="Times New Roman">GIRLS DIVISION IV</font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0"><strong><font 
            size=4 face="Times New Roman"></font></strong></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Lacey 
            Kessler</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Riverdale</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Bre 
            McVey</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Plymouth</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Teneil 
            Krebs</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Wynford</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Sarah 
            Shirey</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><st1:place w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:city 
            w_x003a_st="on">Plymouth</st1:city> </font></font></st1:place></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><st1:street w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:address 
            w_x003a_st="on">McKenzie OBrien</st1:address> 
            </font></font></st1:street></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Mansfield St. 
            Peters</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Soph</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><st1:street w_x003a_st="on"><font 
            face="Times New Roman"><font size="4"><st1:address 
            w_x003a_st="on">Audrey Badouick</st1:address> 
            </font></font></st1:street></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Norwalk St. 
            Paul</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Emily 
            Keller</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Wynford</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Sr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Tayler 
            Tackett</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">South 
          Central</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Jr</font></td></tr>
        <tr style="HEIGHT: 15pt" height="20">
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; HEIGHT: 15pt; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64 height=20><font size="4" face="Times New Roman">Morgan 
            Draper</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" face="Times New Roman">Carey</font></td>
          <td 
          style="BORDER-BOTTOM: #f0f0f0; BORDER-LEFT: #f0f0f0; BACKGROUND-COLOR: transparent; BORDER-TOP: #f0f0f0; BORDER-RIGHT: #f0f0f0" 
          class=xl64><font size="4" 
        face="Times New Roman">Sr</font></td></tr></table></span></span></span></p>
      <p><strong><font size="2" face="Times New Roman"></font></strong>&nbsp;</p><h2 align="left" style="TEXT-ALIGN: left; LINE-HEIGHT: 19px; MARGIN-TOP: 0pt; TEXT-INDENT: 0pt; FONT-FAMILY: 'Times New Roman'; MARGIN-BOTTOM: 0pt; COLOR: black; FONT-SIZE: 10pt; MARGIN-RIGHT: 0pt" 
      class=MsoNormal><img 
      style="WIDTH: 200px; HEIGHT: 148px" border=0 hspace=0 src="http://www.district6basketball.net/images/logo.jpg" 
      width=144 height=90></h2></td></tr>
  <tr>
        <td  BGCOLOR=#000000><span 
      style="WIDOWS: 2; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; BORDER-COLLAPSE: separate; FONT: medium 'Times New Roman'; WHITE-SPACE: normal; ORPHANS: 2; LETTER-SPACING: normal; COLOR: rgb(0,0,0); WORD-SPACING: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" 
      class=Apple-style-span><span style="TEXT-ALIGN: center; FONT-SIZE: 13px" 
      class=Apple-style-span><span style="FONT-SIZE: 12pt" lang="en-US"><font 
      color=#ffffff>Questions, Comments, Troubles? Send your Emails to<span 
      class=Apple-converted-space>&nbsp;</span></font></span><a 
      href="mailto:district6basketball@gmail.com"><span 
      style="FONT-SIZE: 12pt; TEXT-DECORATION: underline" lang=en-US><font 
      color=#ffffff>district6basketball@gmail.com</font></span></a></span></span></td></tr></table></ 
P></p>

</body>
</html>